input {
    display: block;
    margin: 1rem;
}

button {
    display: block;
    margin: 1rem;
}

.box {
    height: 100px;
    width: 100px;
    margin: 20px;
}

#board {
    height: 80vh;
    width: 80vh;
    margin: 2rem auto;
    outline: 5px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.white {
    background: white;
}

.black {
    background: black;
}

.red {
    background: red;
}

.yellow {
    background: yellow;
}

.square {
    width: 150px;
    height: 150px;
    margin: 1rem;
    background: orange;
}

.box {
    width: 200px;
    height: 200px;
    margin: 20px;
}

.green {
    background: green;
}

.circles-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.circle {
    width: 75px;
    height: 75px;
    margin: 10px;
    border-radius: 50%;
    background: pink;
}